@model List<webprogramlama_odev.Models.Hoca>

@{
    ViewData["Title"] = "Hoca Yönetimi";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Hoca Yönetimi</h2>
   
    <div class="text-right mb-3">
        <a asp-action="HocaAdd" class="btn btn-success">Yeni Hoca Ekle</a>
    </div>
    <table class="table table-bordered" id="hocaTablosu">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Telefon</th>
                <th>E-posta</th>
                <th>Bölüm</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hoca in Model)
            {
                <tr>
                    <td>@hoca.Id</td>
                    <td>@hoca.Ad</td>
                    <td>@hoca.Soyad</td>
                    <td>@hoca.Telefon</td>
                    <td>@hoca.Mail</td>
                    <td>@(hoca.Bolum != null ? hoca.Bolum.BolumAdi : "Bölüm Yok")</td>
                    <td>
                        <a asp-action="HocaUpdate" asp-route-id="@hoca.Id" class="btn btn-warning btn-sm">Düzenle</a>
                        <a asp-action="HocaDelete" asp-route-id="@hoca.Id" class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="/js/hocalist.js"></script>
