@model IEnumerable<webprogramlama_odev.Models.HocaMusaitlik>

@{
    ViewData["Title"] = "Hoca Müsaitlikler";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="text-center">Hoca Müsaitlikler</h2>
<p>
    <a asp-action="HocaMusaitlikAdd" class="btn btn-success">Yeni Müsaitlik Ekle</a>
</p>

<div class="container mt-4">
    
    <table class="table table-bordered mt-3" id="musaitlikTablosu">
        <thead>
            <tr>
                <th>Hoca</th>
                <th>Tarih</th>
                <th>Saat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Hoca.Ad @item.Hoca.Soyad</td>
                    <td>@item.Tarih.ToShortDateString()</td>
                    <td>@item.Saat</td>
                    <td>
                        <a asp-action="HocaMusaitlikUpdate" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Düzenle</a>
                        <a asp-action="HocaMusaitlikDelete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src ="~/js/hocamlist.js"></script>
