
@{
    ViewData["Title"] = "Randevular";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="text-center">Randevular</h2>
<p class="text-center">Bu sayfada randevu bilgilerini görebilirsiniz.</p>

<a asp-controller="HocaMusaitlik" asp-action="HocaMusaitlik" class="btn btn-primary float-end mb-3">Hoca Müsaitlikler</a>

<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Asistan</th>
            <th>Hoca</th>
            <th>Tarih</th>
            <th>Saat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.Asistan.Ad @randevu.Asistan.Soyad</td>
                <td>@randevu.Hoca.Ad @randevu.Hoca.Soyad</td>
                <td>@randevu.Tarih.ToShortDateString()</td>
                <td>@randevu.Saat</td>
            </tr>
        }
    </tbody>
</table>
